<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>สถาบันเทคโนโลยีจิตรลดา <br> อาคาร ๖๐ พรรษา ราชสุดาสมภพ <br> สำนักพระราชวัง สนามเสือป่า <br> ถนนศรีอยุธยา เขตดุสิต กรุงเทพฯ 10300</p>
    <p>Chitralada Technology Institute <br> Rajasudasambhava 60, Bureau of the Royal <br> Household Sanam Sueapa, Si Ayutthaya Rd., Dusit, Bangkok 10300</p>
    <p>เบอร์ติดต่อ<br>โทรศัพท์ 0-2280-0551<br>โทรสาร 0-2280-0552</p>
    <p>เวลาทำการ<br>ทุกวัน จันทร์-ศุกร์ 8.30 น. - 16.30 น.<br>(ยกเว้น วันหยุดนักขัตฤกษ์)</p>
    <p>อีเมล<br>saraban@cdti.ac.th</p>
    <a href="../members">หน้าแรก</a>
    <br>
    <a href="../profile">ข้อมูล</a>
</body>
</html>